img {
	width	: 1.5vw;
}
@media( max-width: 736px ) and ( max-height: 414px ) {
	img {
		width	: 6vw!important;
	}
}
@media( max-width: 700px ) {
	img {
		width	: 9vw;
	}
}
@media (max-device-width: 768px) and ( max-height: 500px ) {
	img {
		width	: 9vw;
	}
}
