<div class="layout-footer">
	<div class="p-grid">
		<div class="p-col-12 p-md-6 p-lg-6 layout-footer-left p-text-left">
			<span>PrimeNG 11.4.2 by </span>
			<a href="https://www.primetek.com.tr">PrimeTek</a>
			<span class="p-ml-2">2021 - Ejercicio Angular (Del curso Fernando Herrera) - José Mendoza </span>
		</div>
		<div class="p-col-12 p-md-6 p-lg-6 layout-footer-right p-text-right">
			<span>Redes de PrimeTek </span>
			<a href="https://github.com/primefaces/primeng" class="p-mr-3">
				<i class="pi pi-github"></i>
			</a>
			<a href="https://twitter.com/prime_ng" class="p-mr-3">
				<i class="pi pi-twitter"></i>
			</a>
			<a href="https://discord.gg/gzKFYnpmCY" target="_blank">
				<i class="pi pi-discord"></i>
			</a>
			<span class="p-ml-5">Redes de José Mendoza </span>
			<a class="p-mr-3" href="https://github.com/josemendozaz" target="_blank">
				<i class="pi pi-github"></i>
			</a>
		</div>
	</div>
</div>
